<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon"
        href="https://s3-ap-southeast-1.amazonaws.com/homepage-media/wp-content/uploads/2021/01/28133406/docker-banner.png">
    <meta name="viewport"
        content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width,height=device-height,target-densitydpi=device-dpi">
    <meta name="description" content="Trim mp3 upload file and cut mp3.">
    <meta property="og:title" content="Trim mp3">
    <meta property="og:description" content="Trim mp3 upload file and cut mp3.">
    <meta property="og:image"
        content="https://s3-ap-southeast-1.amazonaws.com/homepage-media/wp-content/uploads/2021/01/28133406/docker-banner.png">
    <meta property="og:url"
        content="https://s3-ap-southeast-1.amazonaws.com/homepage-media/wp-content/uploads/2021/01/28133406/docker-banner.png">
    <title>Trim mp3</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <input id="fileupload" type="file" name="fileupload" />
    <button id="upload-button" onclick="uploadFile()"> Upload </button>
    <div class="wrapper">
        <img id='gif-image' alt="gif mp3" src="/gif/gif-mp3.gif" />
        <video class="video" id="video" width="640" autoload="metadata">
            <source src="" type="video/mp4">
        </video>

        <div class="playback">
            <div class="grabber start">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="10" height="14"
                    viewBox="0 0 10 14" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: rgba(0, 0, 0, .2);
                        }
                    </style>
                    <path class="st0"
                        d="M1 14L1 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C2 13.6 1.6 14 1 14zM5 14L5 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C6 13.6 5.6 14 5 14zM9 14L9 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C10 13.6 9.6 14 9 14z" />
                </svg>
            </div>
            <div class="grabber end">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="10" height="14"
                    viewBox="0 0 10 14" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: rgba(0, 0, 0, .2);
                        }
                    </style>
                    <path class="st0"
                        d="M1 14L1 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C2 13.6 1.6 14 1 14zM5 14L5 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C6 13.6 5.6 14 5 14zM9 14L9 14c-0.6 0-1-0.4-1-1V1c0-0.6 0.4-1 1-1h0c0.6 0 1 0.4 1 1v12C10 13.6 9.6 14 9 14z" />
                </svg>
            </div>
            <div class="seekable">
            </div>
            <div class="progress">
            </div>
        </div>

        <div class="controls">
            <div>
                <button class="reset-control fa fa-refresh" title="Reset Video"></button>
            </div>
            <div class="player-controls">
                <button class="seek-start fa fa-step-backward" title="Skip to Start"></button>
                <button class="play-control fa fa-play" title="Play/Pause"></button>
                <button class="seek-end fa fa-step-forward" title="Skip to End"></button>
            </div>
            <div>
                <button class="trim-control" onclick="handleTrimVideo()">Trim</button>
            </div>
        </div>
    </div>
</body>
<script src="/js/index.js"></script>
<script src="/js/upload.js"></script>

</html>